AWS_ACCESS_KEY_ID=your-oci-access-key
AWS_SECRET_ACCESS_KEY=your-oci-secret-key
AWS_REGION=us-ashburn-1
AWS_BUCKET_NAME=your-bucket-name
AWS_ENDPOINT=https://your-namespace.compat.objectstorage.us-ashburn-1.oraclecloud.com
AWS_FORCE_PATH_STYLE=true

EMAIL_APP_PASSWORD=your-email-app-password
JWT_SECRET=your-secret-key
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/yourdb
VITE_AI_API_KEY=your-ai-api-key